
@{
    ViewBag.Title = "AgregarServicio";
}

<script>
   function prueba(){
    $.ajax({
        type: "GET",
        url: "@Url.Action("cantidadTarifas"," Vendedor")",
        data: { cantidad: $("#cantidad").val()},//entrada de la caminata\

        success: function (resultado) {


            $("#cantidadTarifasH").html(resultado)
        },
        error: function () {
            alert("Error");
        }

    });
   }
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Agregar Servicio</h1>
        </div>

        <form class="col-md-3">

            <div>
                <div class="form-group">
                    <label>Nombre del servicio</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Distancia en kilometros</label>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Latitud</label>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Longitud</label>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Fotografias del servicio</label>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" accept="image/*" multiple required>
                </div>
                <div class="form-group">
                    <label>Cantidad de tarifas</label>
                </div>
            
                <div class="form-group">
                     <div class="form-group">
                         <input type="number" name="cantidad" id="cantidad" class="form-control" min="1" max="10" onchange="prueba();">
                      </div>
                 </div>
                 <div id="cantidadTarifasH"></div>
           
                               
              
                
                <div class="form-group">
                    <input type="submit" class="btn btn-dark">
                </div>
            </div>
        </form>

    </div>
    

</div>
